.post-list-item {
    border-bottom: solid 2px white;

    display: grid;
    grid-template-columns: 6% 62% 32%;
    padding:25px;
}

.post-list-item div {
    display: inline;
}

.post-list-item .post-list-item-icon {
    font-size: 3em;
}

.post-list-item:hover {
    cursor: pointer;
}

.post-list-item .post-item-summary {
    color: #aaaaaa;
}

.post-list-item .post-list-item-meta {
    text-align: right;
}

